.articleContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}
@media (max-width: 767px) {
  .articleContainer {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
