.article {
  background-color: white;
  grid-row: span 3;
  padding: 1rem;
  position: relative;
}

.subContents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
/* For smartphones in portrait and landscape */
@media (max-width: 767px) {
  .article {
    grid-row: span 1;
  }
}
