footer {
  font-size: 1.6rem;
  background-color: var(--primery-color);
  color: white;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  justify-content: center;
}

footer ul {
  list-style: none;
  display: flex;

  padding: 0 5rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
}
footer ul li:last-child {
  flex-basis: 100%;
}
footer .copyright {
  text-align: center;
  padding: 2rem 5rem;
}
footer .footer-logo {
  margin: 0 5rem;
  width: 10rem;
  display: none;
}

@media only screen and (min-width: 1000px) {
  footer {
    justify-content: space-between;
    flex-direction: row;
  }
  footer ul li:last-child {
    text-wrap: nowrap;
    flex-basis: 0%;
    align-self: center;
  }

  footer .footer-logo {
    display: block;
  }
  footer .footer-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media only screen and (orientation: portrait) or (max-width: 600px) {
  footer {
    /* Example: Stack footer elements vertically */
    flex-direction: column;
  }
}
