.authorContainer {
  display: flex;
  align-items: center;
  max-width: 600px;
  position: relative;
  overflow: hidden;
}

.imgBox {
  width: 40%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* opacity: 0; */
}

.authorContainer :global(h3) {
  font-size: 2.2rem;
}

.authorContainer :global(p) {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
