:root {
  --primery-color: rgb(60, 171, 146);
  --secondary-color: rgb(196, 206, 57);
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: rgb(248, 248, 248);
}
section {
  margin: 5rem 0rem;
  padding: 0 2rem;
  height: auto;
}
a {
  text-decoration: none;
  color: black;
}
span,
img,
h3 {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;

  background-color: rgb(248, 248, 248);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon-bottom {
  display: none;
}
.fitImage {
  background-color: yellow;
  overflow: hidden !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.fitImage img {
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
  object-position: center !important;
}

.thertiaryHeadings {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2.2rem;
  -webkit-hyphens: auto; /* Safari, Chrome, and other WebKit/Blink browsers */
  -ms-hyphens: auto; /* Internet Explorer/Edge */
  hyphens: auto !important; /* Standard */
}
.btn-primary {
  border: none;
  font-weight: 900;
  color: white;
  border-radius: 2px;
  background-color: var(--primery-color);
  padding: 1rem 1.4rem;
  cursor: pointer;
}
.section-btn {
  cursor: pointer;
  display: block;
  margin: 5rem auto;
  background-color: transparent;
  color: gray;
  padding: 1rem 2rem;
  border: 2px solid gray;
}
.author {
  margin: 4rem 0;
}

.formContainer {
  font-size: 1.8rem;
  max-width: 900px;
  margin: 5rem auto;
}

.addForm {
  background-color: var(--color-dark--0);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addForm div {
  margin-bottom: 15px;
}

.addForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--color-light--1);
}

.addForm input[type="text"],
.addForm input[type="email"],
.addForm textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--color-light--3);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--color-light--1);
}

.addForm textarea {
  min-height: 100px;
  resize: vertical;
}

.addForm button[type="submit"] {
  background-color: var(--primery-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.addForm button[type="submit"]:hover {
  background-color: var(--secondary-color);
}
